<ul class="menu menu--mobile">
  <li class="menu__trigger">Menu&nbsp;▾</li>
  <li>
    <ul class="menu__dropdown" style="width: 120px;">
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li style="color: var(--accent);display: flex;flex-direction: row;align-items: center;">./<a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
      {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
        {{ range $.Site.Home.AllTranslations }}
          <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </li>
</ul>
